%h1 React Calendar

%h2 Appointments

%h3 Make a new appointment

= form_for @appointment, remote: true do |f|
  = f.text_field :title
  = f.text_field :appt_time
  = f.submit 'Make appointment'

#appointments
  = render 'appointments'
